# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
.env/
.venv/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Frontend Build
frontend/dist/
frontend/build/

# Mac OS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp

# Jupyter
.ipynb_checkpoints

# Machine Learning
*.joblib
*.pkl

# Uploads
backend/uploads/
